/*
 * Author 	: HIMANSHU GUPTA 
 * Email 		: himanshucse2012@gmail.com
 * Website	:	http://www.indioweb.in/portfolio
 */
 
/*
 * Basic CSS starts 
 */

@import url(http://fonts.googleapis.com/css?family=Merriweather+Sans:400,400italic,700,300);
@import url(http://fonts.googleapis.com/css?family=Open+Sans:400italic,400,700,300);
 
body{
	font-family: 'Open Sans', sans-serif;
	-webkit-font-smoothing: antialiased;
}

h1,h2,h3,h4,h5,h6{
	font-family: 'Merriweather Sans', sans-serif;
	font-weight: 700;
	color: #777;
}

p{
	margin:0;
	padding:0;
  font-size: 13px;
  line-height: 23px;
}

a{
	text-decoration: none;
	color: #787878;
}

a:hover{
	text-decoration: none;
	color: #323232;
}

a:hover,a:active,a:focus {
	outline: 0;
	text-decoration: none;
}

hr{

}

:focus {
	outline:none;
	outline-width: 0 !important;
}

::-moz-focus-inner {
	border:0;
}

.form-control {
	border: 1px solid #ccc;
	border-radius: 0px;
	box-shadow: none !important;
}

.btn {
	border-radius: 0px;
}

.view-button .btn {
	margin-top: 8px;
	font-size: 13px;
}

.view-button .btn i{
	top: -2px;
	margin-right: 0;
	margin-left: 5px;
	width: 15px;
	height: 15px;
	line-height: 13px;
	font-size: 10px;
	border: 1px solid #fff !important;
	color: #fff !important;
	border-radius: 30px;
}

.pad { padding: 80px 0;}

/* 
 * Basic CSS ends 
 */
 
header {
	position: relative;
	z-index: 10;
}
 
header .header-top {
	padding: 0;
	background: #fff url('../img/witewall_3.png') repeat;
}

.header-top .welcome-text {
	margin: 0;
	padding: 0;
	font-size: 14px;
	line-height: 40px;
	font-weight: 700;
	text-transform: uppercase;
}

.header-top ul li {
	float: left;
}
.header-top ul {margin: 0;}
.header-top ul li a {
	display: inline-block;
	padding: 0 15px;
	line-height: 40px;
	font-size: 14px;
	background: #f6f6f6;
	border-left: 1px solid #fff;
	text-transform: uppercase;
	-webkit-transition: all 0s linear;
	-moz-transition: all 0s linear;
	-ms-transition: all 0s linear;
	-o-transition: all 0s linear;
	transition: all 0s linear;
}

.header-top ul li:last-child a {border-right: 1px solid #fff;}
.header-top ul li a:hover {
	color: #fff;
	-webkit-transition: all 0.2s linear;
	-moz-transition: all 0.2s linear;
	-ms-transition: all 0.2s linear;
	-o-transition: all 0.2s linear;
	transition: all 0.2s linear;
}

.header-top .dd-menu {position:relative;}
.header-top .dd-menu .dd-dropdown {
	position: absolute;
	top: 100%;
	left: 0;
	z-index: 1024;
	width: 100%;
	margin: 0;
	background: #fff;
	display: none;
	-webkit-box-shadow: 0 6px 12px rgba(0,0,0,.175);
  box-shadow: 0 6px 12px rgba(0,0,0,.175);
}
.header-top .dd-menu ul li {float:none;}
.header-top .dd-menu .dd-dropdown li a{
	display: block;
	width: 100%;
	border: 1px solid #fff;
	border-bottom: 0;
}
.header-top .dd-menu .dd-dropdown li:last-child a{border-bottom: 1px solid #fff;}

.header-top .dd-menu .checkout {
	position: absolute;
	width: 270px;
	top: 100%;
	right: 0;
	z-index: 1024;
	margin: 0;
	background: #fff;
	display: none;
	-webkit-box-shadow: 0 6px 12px rgba(0,0,0,.175);
  box-shadow: 0 6px 12px rgba(0,0,0,.175);
} 

.dd-menu .checkout .checkout-item {
	padding: 10px;
	border-bottom: 1px dashed #eee;
}
.dd-menu .checkout li:last-child .checkout-item {border: 0;}
.dd-menu .checkout .checkout-item a {
	display: inline;
	padding: 0;
	line-height: 1;
	border: none;
	background: transparent;
}

.dd-menu .checkout .checkout-item a:hover {color: #343434;}
.dd-menu .checkout .checkout-item img {	
	width: 100%;
	max-width: 60px;
	border-radius: 0;
	float: left;
}

.dd-menu .checkout .checkout-item h3 {
	margin-top: 0;
	margin-bottom: 5px;
	margin-left: 70px;
	font-size: 14px;
	font-weight: 400;
}

.dd-menu .checkout .checkout-item h3 a {text-transform: capitalize;}
.dd-menu .checkout .checkout-item .sub-text  {
	display: block;
	margin-left: 70px;
	font-size: 12px;
	line-height: 16px;
	font-style: italic;
}

.dd-menu .checkout .checkout-item .price {
	display: block;
	margin-top: 3px;
	font-weight: bold;
	font-size: 14px;
}

.dd-menu .checkout .checkout-item .price em {
	color: #aaa;
	font-weight: 300;
	font-size: 12px;
}

.dd-menu .checkout .checkout-item .btn {
	display: block;
	width: 100%;
	padding: 7px 0;
}

header .navbar-brand {
	height: auto;
	padding: 0;
	padding-left: 15px;
}
header .navbar-brand>img {
	display: inline-block;
	width: 100%;
	max-width: 249px;
}

header .navbar {
	margin: 0;
	padding: 1px 0;
	border-radius: 0;
	border-top: 1px solid #fff;
	box-shadow: 0 3px 5px rgba(0,0,0,0.3);
}

header .navbar-nav>li>a {
	color: #fff;
	background: transparent !important;
	font-weight: 700;
}

header .dropdown-menu {
	top: 55px;
	border: none;
	border-radius: 0;
}


header .dropdown-menu:after {
	bottom: 100%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
	border-color: rgba(75, 170, 211, 0);
	border-width: 10px;
	right: 25px;
	border-bottom-color: #fff;
}

header .dropdown-menu > li a {
	padding: 6px 10px;
	font-size: 14px;
}

header .dropdown-menu > li a i {
	position: relative;
	top: -2px;
	display: inline-block;
	margin-right: 4px;
	width: 20px;
	height: 20px;
	line-height: 16px;
	text-align: center;
	font-size: 10px;
	border: 1px solid #ccc;
	border-radius: 40px;
	-webkit-transition: all 0.3s linear;
	-moz-transition: all 0.3s linear;
	-ms-transition: all 0.3s linear;
	-o-transition: all 0.3s linear;
	transition: all 0.3s linear;
}

header .dropdown-menu > li a:hover i{
	-webkit-transform: rotate(-360deg);
	-moz-transform: rotate(-360deg);
	-ms-transform: rotate(-360deg);
	-o-transform: rotate(-360deg);
	transform: rotate(-360deg);
}

header .big-menu {
	min-width: 675px;
	padding: 15px;
	text-align: center;
}

header .big-menu .menu-item {
	position: relative;
	max-width: 300px;
	margin: 0 auto;
	padding: 15px;
	border: 1px solid #ddd;
	overflow: hidden;
	-webkit-transition: all 0.3s linear;
	-moz-transition: all 0.3s linear;
	-ms-transition: all 0.3s linear;
	-o-transition: all 0.3s linear;
	transition: all 0.3s linear;
}

header .big-menu .menu-item .title {
	margin-top: 10px;
	margin-bottom: 0;
	font-size: 14px;
	font-weight: 400;
	text-transform: uppercase;
}

header .big-menu .menu-item  .btn{
	position: absolute;
	bottom: -40px;
	left: 0;
	display: block;
	width: 100%;
	padding: 7px 0;
	border: 0;
	-webkit-transition: all 0.2s linear;
	-moz-transition: all 0.2s linear;
	-ms-transition: all 0.2s linear;
	-o-transition: all 0.2s linear;
	transition: all 0.2s linear;
}

header .big-menu .menu-item:hover  .btn{
	bottom: 0;
}

header .big-menu .menu-item .price {
	display: block;
	margin-top: 10px;
	font-weight: bold;
	font-size: 14px;
}
	
header .big-menu .menu-item .price em {
	text-decoration: line-through;
	color: #aaa;
	font-weight: 300;
	font-size: 12px;
}

/* hot tag */
.hot {
	position: absolute;
	top: 8px;
	left: 8px;
	display: block;
	width: 45px;
	height: 45px;
	padding: 0;
	margin: 0;
	line-height: 45px;
	border-radius: 100px;
	text-align: center;
	text-transform: uppercase;
	color: #fff;
	font-size: 12px;
	box-shadow: 0 0 3px #ccc;
}

header .big-menu .menu-block{text-align: left;}
header .big-menu .menu-block h2 {
	margin-top: 0;
  margin-bottom: 8px;
  padding: 7px 10px;
  font-size: 18px;
  color: #fff;
}

/* banner */

.banner-alt {margin-top: 50px;}
.banner { margin-bottom: 60px;}
.banner .flexslider {
	margin: 0;
	border-radius: 0;
	border: none;
}

.banner .flex-caption {
	position: absolute;
	left: 0;
	bottom: 0;
	display: block;
	width: 60%;
	margin: 0 0 100px 100px;
	padding: 30px;
	background: rgba(0, 0, 0, 0.6);
}
.banner-alt .flex-caption  {
	margin: 0 0 70px 70px;
}
.banner .flex-caption h3 {
	margin-top: 0;
	font-size: 32px;
	color: #fff;
	line-height: 42px;
}

.banner .flex-caption p {
	font-size: 16px;
	line-height: 30px;
	color: #fff;
}

.banner .flex-caption .btn {
	margin-top: 25px;
	font-size: 16px;
	padding: 10px 22px;
	border-color: rgba(0,0,0,0.3);
	border-bottom: 3px solid rgba(0,0,0,0.3);
	box-shadow: 0 1px 4px rgba(0,0,0,0.3);
}
.banner .flex-caption .btn i {
	top: -5px;
	width: 25px;
	height: 25px;
	line-height: 23px;
	font-size: 14px;
}

.banner .flex-caption .btn:hover {border-color: rgba(0,0,0,0.5);}



/* promo */

.promo {
	padding-bottom: 30px;
}

.promo .promo-item {
	max-width: 400px;
	margin: 0 auto;
	margin-bottom: 30px;
	padding: 25px 30px;
	box-shadow: 1px 1px 2px #aaa;
}

.promo-item i, .promo-item h3,
.promo-item .sub-text { color: #fff; }

.promo-item i {
	display: block;
	width: 50px;
	height: 50px;
	line-height: 50px;
	font-size: 44px;
	float: left;
}

.promo-item h3,
.promo-item .sub-text {margin-left: 65px;}

.promo-item h3 {
	margin-top: 0;
	margin-bottom: 6px;
	font-size: 28px;
}

.promo-item .sub-text { 
	display: block;
	padding: 0;
	font-size: 16px;
	line-height: 26px;
	text-transform: uppercase;
	letter-spacing: 0.03em;
}


/* main content */

.main-content .promo {margin-top: 30px;}
.main-content .default-head {
	margin: 0 auto;
	margin-bottom: 30px;
	font-size: 16px;
	font-weight: 400;
	padding: 10px 12px;
	color: #fff;
}

.sale-item {
	position: relative;
	max-width: 400px;
	margin: 0 auto;
	margin-bottom: 30px;
	padding: 20px;
	border: 1px solid #ddd;
	box-shadow: 1px 1px 2px #aaa;
	overflow: hidden;
	background: #fff;
}

.sale-item .hot {
	top: 15px;
	left: 15px;
}

.sale-item .media-1, .sale-item .media-2,
.sale-item .media-3 {
	position: absolute;
	right: 15px;
	display: inline-block;
	width: 25px;
	height: 25px;
	line-height: 25px;
	font-size: 10px;
	background: #fff;
	color: #fff;
	border-radius: 50px;
	text-align: center;
	box-shadow: inset 0 0 0 1px #ddd;
	opacity: 0;
	-webkit-transition: all 0.25s ease-in-out;
	-moz-transition: all 0.25s ease-in-out;
	-ms-transition: all 0.25s ease-in-out;
	-o-transition: all 0.25s ease-in-out;
	transition: all 0.25s ease-in-out;
}

.sale-item .media-1 {
	top: 15px;
	-webkit-transition-delay: 0s;
	-moz-transition-delay: 0s;
	-ms-transition-delay: 0s;
	-o-transition-delay: 0s;
	transition-delay: 0s;
} 

.sale-item .media-2 {
	top: 50px;
	-webkit-transition-delay: 0.2s;
	-moz-transition-delay: 0.2s;
	-ms-transition-delay: 0.2s;
	-o-transition-delay: 0.2s;
	transition-delay: 0.2s;
}

.sale-item .media-3 {
	top: 85px;
	-webkit-transition-delay: 0.4s;
	-moz-transition-delay: 0.4s;
	-ms-transition-delay: 0.4s;
	-o-transition-delay: 0.4s;
	transition-delay: 0.4s;
}


.sale-item:hover .media-1 {
	opacity: 1;
	-webkit-transition-delay: 0s;
	-moz-transition-delay: 0s;
	-ms-transition-delay: 0s;
	-o-transition-delay: 0s;
	transition-delay: 0s;
} 

.sale-item:hover .media-2 {
	opacity: 1;
	-webkit-transition-delay: 0.2s;
	-moz-transition-delay: 0.2s;
	-ms-transition-delay: 0.2s;
	-o-transition-delay: 0.2s;
	transition-delay: 0.2s;
}

.sale-item:hover .media-3 {
	opacity: 1;
	-webkit-transition-delay: 0.4s;
	-moz-transition-delay: 0.4s;
	-ms-transition-delay: 0.4s;
	-o-transition-delay: 0.4s;
	transition-delay: 0.4s;
}

.sale-item img {
	width: 100%;
	max-width: 300px;
	margin: 0 auto;
}
	
.sale-item h3 {
	margin-top: 0;
	font-size: 16px;
}

.sale-item .details {
	display: block;
	padding: 0;
	margin: 0;
	font-size: 13px;
	line-height: 24px;
	font-style: italic;
}

.sale-item .cart-btn {
	margin-top: 15px;
}

.sale-item .cart-btn .btn {
	position: relative;
	display: inline-block;
	padding: 0 15px;
	padding-left: 95px;
	font-size: 13px;
	line-height: 32px;
	text-align: right
}

.sale-item .cart-btn .btn .price {
	position: absolute;
	top: -1px;
	left: -1px;
	width: 80px;
	height: 34px;
	line-height: 34px;
	text-align: center;
	font-size: 14px;
	color: #fff;
	font-weight: 700;
}

/* popular item slider */

.popular-sale .carousel-control {
	position: absolute;
	display: inline-block;
	top: 100%;
	margin-top: -10px;
	width: 20px;
	text-align: center;
	font-size: 18px;
	text-shadow: none;
	background: transparent;
	opacity: 1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
}

.popular-sale .carousel-control.left,
.popular-sale .carousel-control.right { left: auto; right: 50%; }
.popular-sale .carousel-control.right{margin-right: -25px;}
.popular-sale .carousel-control.left {margin-right: 5px;}
.popular-sale .carousel .item {padding: 0 5px;}
.popular-sale .sale-item {text-align: center;}

/* subscribe */

.subscribe {
	margin-bottom: 60px;
	margin-top: 30px;
	padding: 25px;
	border: 1px solid #ddd;
	box-shadow: 1px 1px 2px #aaa;
	background: #fff url('../img/witewall_3.png') repeat;
}

.subscribe .app-store a {
	display: inline-block;
	margin-right: 15px;
	margin-bottom: 10px;
	width: 45px;
	height: 45px;
	line-height: 43px;
	text-align: center;
	font-size: 18px;
	background: #fff;
	box-shadow: inset 0px 0px 5px #ddd;
	border: 1px solid #d9d9d9;
	border-radius: 50px;
}

.subscribe .app-store h6 {
	margin-bottom: 0;
	line-height: 20px;
}

.subscribe .subscribe-form h5 {
	margin-top: 0;
	margin-bottom: 0;
	line-height: 24px;
}

.subscribe .subscribe-form p {
	margin-bottom: 5px;
	line-height: 24px;
	font-style: italic;
}

/* inner pages */

.inner-banner {	
	padding: 50px 0;
	background: #eee url('../img/banner/inner-banner.jpg') no-repeat center center;
	background-size: 1580px 300px;
	text-align: center;
}

.inner-banner h2 {
	margin-top: 0;
	margin-bottom: 10px;
	color: #fff;
	font-size: 40px;
	text-transform: uppercase;
}

.inner-banner .breadcrumb {
	margin-bottom: 0;
	padding: 0;
	background: transparent;
}

.inner-banner .breadcrumb li.active {color: #e5e5e5;}
.inner-banner .breadcrumb a {
	color: #fff;
}

/* inner content */

.inner-content {
	margin-bottom: 30px;
	padding-top: 50px;
}

.inner-content .navi {
	max-width: 400px;
	margin: 0 auto;
	margin-bottom: 30px;
	border: 1px solid #ddd;
	border-bottom: 0;
	border-top: 0;
	box-shadow: 0 1px 2px #ddd;
}

.inner-content .navi h3 {
	margin: 0;
	font-size: 14px;
	padding: 12px 14px;
	color: #fff;
}

.inner-content .navi ul {margin-bottom: 0;}
.navi ul li a {
	display: block;
	padding: 12px 14px;
	background: #fafafa;
	border-bottom: 1px solid #ddd;
	-webkit-transition: all 0.25s ease-in-out;
	-moz-transition: all 0.25s ease-in-out;
	-ms-transition: all 0.25s ease-in-out;
	-o-transition: all 0.25s ease-in-out;
	transition: all 0.25s ease-in-out;
}

.navi ul li a i {
	width: 14px;
	margin-right: 7px;
	font-size: 14px;
}

.navi ul li a:hover {
	padding-left: 18px;
	background: #f5f5f5;
	border-bottom-color: #ccc;
}

.navi ul li.open > a {
	padding-left: 18px;
	background: #f5f5f5;
	border-bottom-color: #ccc;
}

.navi ul li ul {
	display: none;
	border-bottom: 1px solid #bbb;
	padding-top: 4px;
	padding-bottom: 8px;
}

.navi ul li ul li {
	display: block;
	padding-left: 30px;
	padding-top: 3px;
	background: #fff;
}

.navi ul li ul li:last-child{border-bottom: 0;}
.navi ul li ul li label {
	margin-bottom: 0;
	font-weight: 400;
	font-size: 13px;
}

.navi ul li ul li label input {
  position: relative;
  top: 2px;
	display: inline-block;
	margin-right: 7px;
}

/* sideber promo */

.side-promo {
	margin-bottom: 15px;
	padding-top: 15px;
	border-top: 1px dashed #ddd;
	background: #fff;
}
.side-promo img {
	width: 100%;
	max-width: 50px;
	float: left;
}
.side-promo h3,
.side-promo p, .side-promo .price {
	margin-left: 65px;
}
.side-promo h3 {
	margin-top: 0;
	margin-bottom: 3px;
	font-size: 14px;
}

.side-promo p {
	font-size: 12px;
	line-height: 20px;
	font-style: italic;
}

.inner-content .inner-main h2 {
	margin-top: 0;
	margin-bottom: 30px;
	padding-bottom: 10px;
	font-size: 18px;
	border-bottom: 1px solid #ddd;
}

.account .user {
	width: 100%;
	max-width: 200px;
	box-shadow: 1px 1px 3px #aaa;
	float: left;
}

.account .account-details {
	margin-left: 225px;
}

.account .account-details h3 {
	margin-top: 0;
	font-size: 16px;
}

.account .account-details address {
	display: block;
	margin: 0;
	font-size: 14px;
	line-height: 23px;
}

.account .account-details .a-phone {
	display: block;
	margin-top: 10px;
	margin-bottom: 0px;
	padding: 0;
	font-size: 14px;
	line-height: 23px;
}

.account .account-details .a-phone i {
	display: inline-block;
	width: 14px;
	margin-right: 5px;
}

.account .a-table {
	margin-top: 30px; 
	margin-bottom: 30px;
}
.account .a-table .table {margin-bottom: 0;}
.account .a-table caption {
	padding: 0;
	padding-bottom: 10px;
	font-weight: 700;
	border-bottom: 1px solid #ddd;
}
.inner-main .edit-form {margin-bottom: 30px;}
.inner-main .edit-form form label {
	font-size: 13px;
	color: #888;
}

.account h4 {
	margin-top: 0;
	margin-bottom:15px;
	font-size: 16px;
	padding-bottom: 10px;
	border-bottom: 1px solid #ddd;
}

.conf-message {margin-bottom: 30px;}
.conf-message h6 {
	margin-top: 0;
}

.inner-main .login {
	margin-top: 30px;
	padding: 25px;
	background: #fff url('../img/witewall_3.png') repeat;
	border: 1px solid #ddd;
	box-shadow: 0 1px 2px #ddd;
}

.inner-main .login h3 {
	margin-top:	0;
	margin-bottom: 20px;
	padding-bottom: 10px;
	font-size: 18px;
	border-bottom: 1px solid #ddd;
}

.inner-main .login form label {color: #888;}

.login .social { margin-bottom: 15px; text-align: center;}
.login .social a, .login .social a:hover {color: #fff;}
.login .social p {
	font-weight: 700;
	margin-bottom: 10px;
}

/* Cart */

.cart img.item {
	max-height: 40px;
	box-shadow: 0 0 3px #ddd;
}

.cart td.item-input{width:150px;}

/* or as divider */

.or {	
	position: relative;
	display: block;
	width: 40px;
	height: 40px;
	margin: 15px auto;
	line-height: 40px;
	font-size: 14px;
	font-weight: 700;
	color: #fff;
	text-align: center;
	border-radius: 50px;
}

.or:before, .or:after {
	position: absolute;
	content: "";
	top: 50%;
	width: 80px;
	margin-top: -3px;
	height: 6px;
	background: #f1f1f1;
	border-top: 1px solid #ddd;
	border-bottom: 1px solid #ddd;
}


.or:before {
	right: 100%;
	border-left: 1px solid #ddd;
}

.or:after {
	left: 100%;
	border-right: 1px solid #ddd;
}

/* single item (product page) */

.img-thumbnail {border-radius: 0 !important;}

.item-single {	margin-bottom: 30px;}
.item-single .mini-img {
	display: inline-block;
	width: 100%;
	max-width: 45px;
	margin-right: 5px;
	margin-bottom: 5px;
	padding: 3px;
}

.item-single .item-details h3 {
	margin-top: 0;
	margin-bottom: 10px;
	padding-bottom: 10px;
	font-size: 18px;
	border-bottom: 1px solid #ddd;
}
.item-single .item-details .table tr th {color: #999;}
.item-single .item-details .table tr:first-child th {width: 150px;}
.item-single .item-details .table tr th,
.item-single .item-details .table tr td  {border-top: 0;}
.item-details .nav-tabs>li>a {
	border-radius: 0;
	border: 1px solid #ddd;
}

.item-details .nav-tabs>li.active>a, 
.item-details .nav-tabs>li.active>a:focus,
.item-details .nav-tabs>li.active>a:hover {
	color: #fff;
	border-color: transparent;
}

.item-details .tab-content .tab-pane {	padding-top: 10px;}
.item-details .tab-content .tab-pane .well {border-radius: 0;}
.item-details .tab-content .tab-pane h5 {
	margin-top: 0;
	margin-bottom: 5px;
}

.item-details .tab-content .tab-pane h6 {
	margin-bottom: 20px;
	padding-bottom: 7px;
	border-bottom: 1px solid #ddd;
}

/* error 404 page found */

.error {
	max-width: 400px;
	margin: 0 auto;
	text-align: center;
}

.error h2 {
	margin-top: 30px;
	margin-bottom: 30px;
  font-size: 150px;
  line-height: 160px;
  color: #ddd;
	text-shadow: 1px 1px 2px #000;
}

/* site map */

.site-map {margin-top: 60px;}
.site-map h4 {
	margin-top: 0;
	margin-bottom: 0;
	padding-bottom: 10px;
	font-size: 18px;
	border-bottom: 1px solid #ddd;
}

.site-map ul li {
	padding-top: 8px;
	padding-bottom: 8px;
	font-size: 13px;
	line-height: 20px;
	border-bottom: 1px dashed #eee;
}
.site-map ul li i{
	display: inline-block;
	margin-right: 5px;
	font-size: 14px;
}

/* contact page */

.contact-page {
	margin-top: 60px;
}

.contact-page h3 {
	margin-top: 0;
	font-size: 14px;
	padding-bottom: 10px;
	margin-bottom: 20px;
	border-bottom: 1px solid #ddd;
}

.contact-page .well {  
	background: #fff url('../img/witewall_3.png') repeat;
	border-radius: 0;
}
	
.contact-page .gmap {margin-bottom: 30px;}
.contact-page #gMap {
	height: 350px;
	background: #fafafa;
}

.contact-page .address hr{
	height: 0px;
	padding: 0px;
	margin: 15px 0px;
	border: none;
}


/* social medial */

.social a {
	display: inline-block;
	width: 30px;
	height: 30px;
	line-height: 30px;
	margin-right: 2px;
	font-size: 14px;
	text-align: center;
	color: #fff;
	box-shadow:inset 0px 0px 1px #333;
	-webkit-transition:background 1s ease;
	-moz-transition:background 1s ease;
	-ms-transition:background 1s ease;
	-o-transition:background 1s ease;
	transition:background 1s ease;
}

.social a:hover {
	color: #fff;
	background:#000;
	-webkit-transition:background 1s ease;
	-moz-transition:background 1s ease;
	-o-transition:background 1s ease;
	transition:background 1s ease;
}

/* footer */

footer {
	padding: 30px 0;
	background: #fff url('../img/footer.png') repeat;
	color: #aaa;
	font-size: 12px;
	box-shadow: inset 0px 0px 10px #000;
}

footer a, footer a:visited{
	color: #ddd;
}

footer a:hover{
	color: #ccc;
	text-decoration: underline;
}

footer .widget {
		max-width: 400px;
		margin: 0 auto;
		margin-bottom: 20px;
	}

footer h5{
	margin-top: 0;
	color: #fff;
}

footer  hr{
	height: 0px;
	padding: 0px;
	margin: 5px 0px;
  border-top: 1px solid #101317;
  border-bottom: 1px solid #202830;
}

footer .payment-icons img{
	display: inline-block;
	width: 100%;
	max-width: 40px;
	margin-right: 3px;
	margin-bottom: 5px;
}

footer .widget ul{margin:0px;}

footer .widget ul li{
	margin-bottom: 5px;
	line-height: 24px;
}

footer .copy{
	margin-bottom: 5px;
	font-size: 11px;
}

/* Back to top */

.totop {
	position: fixed;
	bottom: 10px;
	right: 10px;
	z-index: 104400;
}

.totop a, .totop a:hover,
.totop a:active,
.totop a:visited{
	display: block;
	width: 40px;
	height: 40px;
	color: #fff !important;
	text-align: center;
	font-size: 16px;
	line-height: 40px;
}

/*
 * Responsive CSS 
 */

/*
 * Mobile phones 
 */
@media (max-width: 480px){
	.banner .flex-caption {
		left: 0px !important;
		bottom: 0px !important;
		width: 100% !important;
		max-width: 100% !important;
		height: 100% !important;
		margin: 0 !important;
		padding: 0 !important;
	}
	.banner .flex-caption h3 {
		margin-top: 20px;
		font-size: 18px !important;
		line-height: 30px !important;
	}
}

/*
 * Tablets 
 */
@media (max-width: 767px){
	.header-top .welcome-text {font-size: 12px;}
	
	header .navbar-toggle {
		border: 1px solid #fff;
		border-radius: 0;
	}
	
	header .navbar-toggle .icon-bar {background: #fff;}
	
	header .navbar-nav>li>a { padding-top: 6px;padding-bottom: 0px;}
	header .dropdown-menu {background: #fff !important;}
	header .dropdown-menu:after {display: none;}
	
	.banner-alt {margin-top: 30px;}
	.banner {margin-bottom: 30px;}
	.banner .flex-caption {
		left: 50%;
		bottom: 15px;
		width: 100%;
		max-width: 400px;
		margin-bottom: 0 !important;
		margin-left: -200px;
		padding: 20px;
		text-align: center;
	}
	.banner .flex-caption p {display: none;}
	.banner .flex-caption .btn {margin-top:10px;}
	
	.main-content .default-head {max-width: 400px;}
	
	.recent-sale .sale-item {text-align: center;}
	
	.sale-item .media-1, .sale-item .media-2,
	.sale-item .media-3 {right: 15px;opacity: 1;}
	
	.inner-content {
		max-width: 400px;
		margin: 0 auto;
	}
	
	.account .a-table caption {	
		padding-top: 7px;
		padding-bottom: 7px;
		padding-left: 10px;
	}
	
	.account .table tr td .form-control {
		width: 40px;
	}
	
	.account .user { 
		max-width: 400px;
		margin: 0 auto;
		margin-bottom: 30px;
		float: none;
	}
	
	.account .account-details {
		margin-left: 0;
	}
	
	.subscribe {
		max-width: 400px;
		margin-right: auto;
		margin-left: auto;
	}
	
	.subscribe .app-store {
		margin-bottom: 25px;
		text-align: center;
	}
	
	.inner-main .login {
		max-width: 400px;
		margin: 0 auto;
		margin-top: 40px;
	}
	
	.side-promo {display: none;}
	
	.item-single {
		max-width: 400px;
		margin: 0 auto;
		margin-bottom: 30px;
	}
	
	.item-single .item-details { margin-top: 20px;}
	.item-single .item-details .table-responsive {margin-bottom: 30px;}
	
	.site-map {
		max-width: 400px;
		margin: 0 auto;
		margin-top: 30px;
	}
	.site-map ul {margin-bottom: 30px;}
	
	.contact-page {
		max-width: 400px;
		margin: 30px auto;
	}
	
	.contact-page .address {margin-bottom: 30px;}
}

/*
 * Desktop 
 */
@media (max-width: 991px){
	.banner .flex-caption {
		margin-bottom: 40px;
	}
	
	.banner .flex-caption h3 {
		font-size: 22px;
		line-height: 32px;
	}
	
	.banner .flex-caption p {
		font-size: 14px;
		line-height: 22px;
	}
	
	.banner .flex-caption .btn {
		padding: 10px 20px;
		font-size: 14px;
	}
	
	.banner .flex-caption .btn  i {
		width: 20px;
		height: 20px;
		line-height: 19px;
		font-size: 10px;
	}
}